<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">The Very Incomplete History of Jimmy</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1993-1998</h4>
                                    <h4 class="subheading">James Madison University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Major-hopping from music, to Architecture, to Set Design, to Stage Management.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998-2000</h4>
                                    <h4 class="subheading">The New York Years, Part 1</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Production manager for Studio Designs, one of New York's largest event design firms.  Clients included Macy's, Gerorge Soros, some Kennedy's, the International Monetary Fund, the Democratic and Republican parties, the World Bank, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000-2004</h4>
                                    <h4 class="subheading">The Tour Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a union stagehand, toured with Broadway productions of Annie, Jekyll & Hyde, Cinderella, Cabaret, Seussical the Musical, Peter Pan, Dr. Dolittle, Movin' Out, Bombay Dreams, High School Musical 2, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004-2014</h4>
                                    <h4 class="subheading">The New York Years, Part 2 - The Television Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Trading Spaces, Town Haul, Don't Sweat It, Dear Genevieve, Mom Caves, BUILT, Construction Cash, Closet Cases, and more.  Lead carpenter, co-host, and project manager for hundreds of episodes of home-makeover TV.</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 and Beyond</h4>
                                    <h4 class="subheading">The LA Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Now living in LA and working at the Disney/ABC Television Group. Helping the Mouse House put entertainment in your pocket.</p>
                                </div>
                            </div>
                        </li>
                                          </ul>
                </div>
            </div>
        </div>
    </section>