<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stuff I Do</h2>
                    <h3 class="section-subheading text-muted">I do stuff on the internet and IRL</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Writing</h4>
                    <p class="text-muted"><a href="http://www.cocktailsandcoffee.com">Cocktails & Coffee</a> is Jimmy's personal blog, fueled by adult beverages.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">12 years in television project management for location based construction projects.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Build</h4>
                    <p class="text-muted">With almost 30 years experience, I specialize in cabinetry and small-space design.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tv fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Television</h4>
                    <p class="text-muted">10 years, 16 shows, 300 episodes.  Not bad for a tuba player from Virginia.</p>
                </div>
            </div>
        </div>
    </section>